<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stumblr.</title>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
</head>
<body>
    <header>
        <a href="/">
            <h1>Stumblr.</h1>
        </a>
        <nav>
            {{#if loggedIn}}
            <a href="/dashboard"><button type="button" class="btn btn-secondary" id="dashboard-homepage">dashboard</button></a>
            <button type="button" class="btn btn-light" id="logout">logout</button>
            {{else}}
            <a href="/login"><button type="button" class="btn btn-secondary">login</button></a>
            {{/if}}
        </nav>
    </header>
    <main>
        {{{ body }}}
    </main>
</body>
{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
<script src="/javascript/dashboard.js"></script>
{{/if}}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
</html>