<div class="login-container wrapper">
    <div class="form-container card">
        <form class="login-form">
            <h2 class="card-header">login</h2>
            <div class="card-body">
                <div class="login-inputs">
                    <label for="email-login">email:</label> <br>
                    <input type="text" id="email-login" />
                    <br>
                    <label for="password-login">password</label> <br>
                    <input type="password" id="password-login" />
                    <br>
                    <br>
                    <button type="submit" id="btn-login" class="btn btn-secondary">login</button>
                </div>
            </div>
        </form>
    </div>
    <div class="card">
        <form class="signup-form">
            <h2 class="card-header">signup</h2>
            <div class="card-body">
                <div class="signup-inputs">
                    <label for="email-signup">email</label>  <br>
                    <input type="text" id="email-signup" />
                    <br>
                    <label for="username-signup">username</label>  <br>
                    <input type="text" id="username-signup" />
                    <br>
                    <label for="password-signup">password</label>  <br>
                    <input type="password" id="password-signup" />
                    <br>
                    <br>
                    <button type="submit" class="btn btn-secondary">signup</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="/javascript/login.js"></script>